[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
pytz = "==2019.3"
python-slugify = "==4.0.0"
pillow = "==6.2.1"
argon2-cffi = "==19.2.0"
redis = "==3.3.11"
django-environ = "==0.4.5"
django-model-utils = "==3.2.0"
django-allauth = "==0.40.0"
django-crispy-forms = "==1.8.0"
django-redis = "==4.10.0"
djangorestframework = "==3.11.2"
coreapi = "==2.3.3"
gunicorn = "==20.0.0"
psycopg2 = "==2.8.3"
django-storages = {extras = ["boto3"],version = "==1.7.2"}
django-anymail = {extras = ["mailgun"],version = "==7.0.0"}
Django = "==2.2.13"
Collectfast = "==1.3.1"
graphene = "*"
graphene-django = "*"
django-filter = "*"
whitenoise = "*"
dj-database-url = "*"
django-heroku = "*"
django-admin-rangefilter = "*"
graphene-file-upload = "*"
django-cors-headers = "*"
django-import-export = "*"

[requires]
python_version = "3.7"
