-i https://pypi.org/simple/
aniso8601==7.0.0
argon2-cffi==19.2.0
boto3==1.17.33
botocore==1.20.33
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
collectfast==1.3.1
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.7.1
diff-match-patch==20200713
dj-database-url==0.5.0
django-admin-rangefilter==0.6.0
django-allauth==0.40.0
django-anymail[mailgun]==7.0.0
django-cors-headers==3.2.1
django-crispy-forms==1.8.0
django-environ==0.4.5
django-filter==2.2.0
django-heroku==0.3.1
django-import-export==2.1.0
django-model-utils==3.2.0
django-redis==4.10.0
django-storages[boto3]==1.7.2
django==2.2.13
djangorestframework==3.11.2
et-xmlfile==1.0.1
graphene-django==2.10.0
graphene-file-upload==1.2.2
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.0
idna==2.10
itypes==1.2.0
jinja2==2.11.3
jmespath==0.10.0
markuppy==1.14
markupsafe==1.1.1
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.7
pillow==6.2.1
promise==2.3
psycopg2==2.8.3
pycparser==2.20
python-dateutil==2.8.1
python-slugify==4.0.0
python3-openid==3.2.0
pytz==2019.3
pyyaml==5.4.1
redis==3.3.11
requests-oauthlib==1.3.0
requests==2.25.1
rx==1.6.1
s3transfer==0.3.6
singledispatch==3.6.1
six==1.15.0
sqlparse==0.4.1
tablib[html,ods,xls,xlsx,yaml]==3.0.0
text-unidecode==1.3
typing-extensions==3.7.4.3
typing==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.4
whitenoise==5.0.1
xlrd==2.0.1
xlwt==1.3.0
